*{
    margin: 0;
    padding: 0;
}
/*Header*/
header {
    width: 100%;
    background-color: aqua;
    position: fixed;
    height: 70px;
}
#partelogo {
    width: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
}
#logo{
    width: 100%;
    float: left;
    border-radius: 5%;
}
h1{
    float: left;
    margin-left: 1%;
}
nav ul li {
    display: inline-block;
    float: right;
    margin-top: 1.5%;
    margin-right: 10%;
}
nav ul li a{
    text-decoration: none;
    color: black;
}

/*Main*/
img{
    width: 50px;
}
main{
    float: left;
    clear: both;
    background-color: yellow;
    margin-top: 4.5%;
    width: 100%;
}
#banner{
    float: left;
    clear: both;
    width: 10%;
    margin-top: 1%;
    margin-left: 45%;
}
#logob{
    width: 50%;
    float: left;
    border-radius: 15%;
}
#banner h1{
    float: left;
    font-size: 120%;
    margin-top: 7%;
    margin-left: 5%;
}

#notprin{
    float: left;
    clear: both;
    width: 50%;
    margin-top: 2%;
    margin-left: 5%;
    border: 1px solid black;
}
#imgprin{
    width: 100%;
}
#notprin h2{
    margin-top: 0.50%;
    margin-left: 50%;
    font-size: 100%;
}
#notprin p{
    margin-left: 13%;
    font-size: 100%;
}
#slides{
    float: right;
    width: 25%;
    background-color: white;
    margin-top: 2%;
    margin-right: 10%;
}
#js{
    float: right;
    background-color: aquamarine;
    margin-top: 5%;
    width: 25%;
    margin-right: 10%;
}
.notsec{
    float: left;
    clear: both;
    width: 50%;
    background-color: bisque;
    margin-top: 2.5%;
    margin-left: 25%;
    margin-bottom: 2.5%;
}
.imgsec{
    width: 50%;
    float: left;
}
.notsec h3{
    float: right;
    width: 25%;
    text-align: center;
    margin-top: 2.5%;
    margin-right: 10%;
}
.notsec p{
    float: right;
    width: 40%;
    text-align: center;
    margin-top: 2.5%;
    margin-right: 5%;
}



/*footer*/
footer{
    float: left;
    clear: both;
    background-color: brown;
    width: 100%;
}
#infos{
    width: 100%;
    background-color: green;
    float: left;
    clear: both;
}
#infos ul{
    width: 25%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 5%;
    list-style-type: none;
}
#infos li{
    margin-top: 2.5%;
    margin-left: 45%;
    margin-bottom: 2.5%;
}
#infos1{
    float: left;
    background-color: aqua;
}
#infos2{
    float: left;
    background-color: blueviolet;
}
#infos3{
    float: left;
    background-color: aquamarine;
}
#infos a{
    text-decoration: none;
    color: black;
    font-size: 110%;
}
#direitos{
    float: left;
    clear: both;
    width: 100%;
}
#direitos p{
    width: 100%;
    text-align: center;
    margin-top: 2.5%;
}
#direitos ul{
    width: 50%;
    margin-left: 46%;
    margin-top: 0.5%;
}
#direitos ul li{
    display: inline-block;
    width: 5%;
}
#direitos a{
    margin-left: 1%;
}
#direitos img{
    width: 100%;
    border-radius: 10px;
}