*{
    margin: 0;
    padding: 0;
}
/*Header*/
header {
    width: 100%;
    background-color: aqua;
    position: fixed;
    height: 70px;
}
#partelogo {
    width: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
}
#logo{
    width: 100%;
    float: left;
    border-radius: 5%;
}
h1{
    float: left;
    margin-left: 1%;
}
nav ul li {
    display: inline-block;
    float: right;
    margin-top: 1.5%;
    margin-right: 10%;
}
nav ul li a{
    text-decoration: none;
    color: black;
}

/*Main*/
img{
    width: 50px;
}
main{
    float: left;
    clear: both;
    background-color: yellow;
    margin-top: 4.5%;
    width: 100%;
}
#banner{
    float: left;
    clear: both;
    width: 10%;
    margin-top: 1%;
    margin-left: 45%;
}
#logob{
    width: 50%;
    float: left;
    border-radius: 15%;
}
#banner h1{
    float: left;
    font-size: 120%;
    margin-top: 7%;
    margin-left: 5%;
}
/*primeira sec*/
#notprin{
    background-image: url(../img/new_era-mw2.jpg);
    background-repeat: no-repeat;
    background-size:100%;
    float: left;
    margin-top: 2%;
    text-align: center;
    padding: 35px;
    padding-bottom: 50px;
    /*altura da imagem de fundo*/
    height: ;
}
#notlogo{
    width: 10%;
    margin-left: 45%;
    margin-right: 45%;
    display: block;
    margin-top: 60px;
    margin-bottom: 50px;
}
#imgprin{
    width: 100%;
}
#notprin h2{
    text-align: center;
    font-size: 300%;
}
#notprin p{
    text-align: center;
    font-size: 110%;
    padding-bottom: 10px;
}
/*segunda sec*/
#qsomos{
    padding-top: 35px;
    width: 100%;
    float: left;
    text-align: center;
    margin-bottom: 20px;
}
#qsomos h2{
    text-align: center;
    font-size: 200%;
    margin-bottom: 50px;
}
#qsomos p{
    font-size: 110%;
    text-align: center;
    padding-bottom: 10px;
}
/*footer*/
footer{
    float: left;
    clear: both;
    background-color: brown;
    width: 100%;
}
#infos{
    width: 100%;
    background-color: green;
    float: left;
    clear: both;
}
#infos ul{
    width: 25%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 5%;
    list-style-type: none;
}
#infos li{
    margin-top: 2.5%;
    margin-left: 45%;
    margin-bottom: 2.5%;
}
#infos1{
    float: left;
    background-color: aqua;
}
#infos2{
    float: left;
    background-color: blueviolet;
}
#infos3{
    float: left;
    background-color: aquamarine;
}
#infos a{
    text-decoration: none;
    color: black;
    font-size: 110%;
}
#direitos{
    float: left;
    clear: both;
    width: 100%;
}
#direitos p{
    width: 100%;
    text-align: center;
    margin-top: 2.5%;
}
#direitos ul{
    width: 50%;
    margin-left: 46%;
    margin-top: 0.5%;
}
#direitos ul li{
    display: inline-block;
    width: 5%;
}
#direitos a{
    margin-left: 1%;
}
#direitos img{
    width: 100%;
    border-radius: 10px;
}